<!DOCTYPE html>
<html>
<head>
    <title>Leaderboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="navbar">
    <div class="logo">⌨ Typing Master</div>

    <div class="nav-links">
        <a href="/">🏠 Home</a>
        <a href="/profile">👤 Profile</a>
        <a href="/leaderboard">🏆 Leaderboard</a>
    </div>
</nav>

<div class="container">

    <h1>🏆 Global Leaderboard</h1>

    <table class="leaderboard-table">

        <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Best WPM</th>
        </tr>

        {% for row in data %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
        </tr>
        {% endfor %}

    </table>

</div>

</body>
</html>